h2 {
  margin-top: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

ul {
display: flex;
flex-direction: column;
list-style: none;
gap: 1rem;
}
li {
  justify-content: center;
}
